:root {
    --primary: #c3002f;
    --primary-light: #e8335a;
    --primary-pale: #ff6b8a;
    --primary-deep: #8a0020;
    --primary-ultra: #600016;
    --gold: #d4a054;
    --gold-light: #e8c080;
    --bg: #0a0606;
    --bg2: #110808;
    --bg3: #180a0a;
    --glass: rgba(195,0,47,0.04);
    --glass-border: rgba(195,0,47,0.12);
    --text: #f5eaea;
    --text-muted: #9a7a7a;
    --text-dim: #5a3a3a;
    --r1: 1rem;
    --r2: 1.5rem;
    --r3: 2rem;
    --grad1: linear-gradient(135deg,#c3002f,#8a0020,#d4a054);
    --grad2: linear-gradient(135deg,#e8335a,#c3002f,#8a0020);
    --grad3: linear-gradient(135deg,#c3002f,#e8335a);
}

* {
    color: var(--bg3);
}

::selection {
    color: var(--text);
    background-color: var(--primary-light);
}

body {
    font-family: "Red Rose", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: var(--text);
}

.ph {
    color: var(--text-muted);
    transition: all 0.3s ease-in-out;
}
.ph:hover {
    color: var(--text-dim);
}

.form-control {
    font-size: 14px;
    padding: .575rem .75rem;
    text-overflow: ellipsis;
}

input:focus-visible, input:focus {
    border-color: var(--primary-light) !important;
    outline: none !important;
    box-shadow: none !important;
}

.text-primary {
    background: var(--grad3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--primary-light);
    --bs-btn-border-color: var(--primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--primary);
    --bs-btn-hover-border-color: var(--primary);
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--primary-light);
    --bs-btn-active-border-color: var(--primary-light);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--primary-light);
    --bs-btn-disabled-border-color: var(--primary-light);
}

.sidebar-close-btn {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: var(--primary-light);
    line-height: normal;
    padding: 6px 9px;
    border-bottom-left-radius: 8px;
}
.sidebar-close-btn svg {
    width: auto;
    height: 14px;
    margin-top: -5px;
}
.sidebar {
    width: 252px;
    height: 100%;
    position: fixed;
    display: block;
    inset-inline-start: 0;
    inset-block-start: 0;
    background-color: #ffffff;
    border-right: 1px solid var(--bs-border-color);
    transition: all 0.8s ease-in-out;
    transition-duration: 3500ms;
}
.sidebar.active {
    display: none;
}
.side-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    content: "";
    inset-inline-start: 0;
    inset-block-start: 0;
    background-color: rgb(15 20 31 / 60%);
    z-index: 99;
    transition: .2s linear;
    visibility: hidden;
    opacity: 0;
}
.side-overlay.show {
    visibility: visible;
    opacity: 1;
}

#main-content {
    display: flex;
    flex-direction: column;
}
#main-content .top-navbar {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 11.5px 14px;
    background-color: #ffffff;
    z-index: 999;
}
.dashboard-main-wrapper {
    margin-left: 252px;
}
#main-content .top-navbar .thinumber_Icon {
    width: 28px;
    height: 28px;
    cursor: pointer;
}
#main-content .top-navbar .thinumber_Icon  svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.text-white svg {
    fill: #fff;
}

.notificaton-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background-color: var(--text-dim);
    padding: 10px;
    color: var(--text);
    cursor: pointer;
}
.notificaton-icon svg path {
    fill: var(--text) ;
}
.notificaton-icon svg {
    animation: animation-layer-2 2000ms infinite;
}
@keyframes animation-layer-2 {
    0% { transform: rotate(0deg); }
    8.0% { transform: rotate(0deg); }
    12.0% { transform: rotate(32deg); }
    16.0% { transform: rotate(-35deg); }
    20.0% { transform: rotate(0deg); }
    23.0% { transform: rotate(28deg); }
    26.0% { transform: rotate(-20deg); }
    29.0% { transform: rotate(0deg); }
    31.0% { transform: rotate(16deg); }
    33.0% { transform: rotate(-12deg); }
    35.0% { transform: rotate(0deg); }	
    37.0% { transform: rotate(-6deg); }
    39.0% { transform: rotate(0deg); }
    40.0% { transform: rotate(6deg); }
    44.0% { transform: rotate(-3deg); }
    49.0% { transform: rotate(2deg);}
    55.0% { transform: rotate(0deg); }
    62.0% { transform: rotate(1deg); }
    70.0% { transform: rotate(0deg); }  
}
.notification-wrapper .dropdown-menu {
    width: 330px;
    padding: 0;
    border-radius: .75rem;
    overflow: hidden;
}
.notification-wrapper .dropdown-menu .notification-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    color:#fff;
    background: var(--primary-light);
    padding: 12px;
}
.notification-wrapper .dropdown-menu .notification-head .title {
    font-size: 17px;
    margin: 0px;
}
.notification-close {
    cursor: pointer;
}
.notification-body {
    max-height: 270px;
    padding: 10px;
    overflow-y: auto;
}
.notification-body .notification-block {
    text-decoration: none;
    padding: 15px 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 8px;
    border-bottom: 1px solid var(--text-dim);
}
.notification-body .notification-block .badge {
    line-height: normal;
    font-weight: 400;
    margin-bottom: 5px;
}
.notification-body .notification-block .badge.new {
    background: var(--primary-light);
}
.notification-body .notification-block .badge.updated {
    background: #16a34a;
}
.notification-body .notification-block .text {
    color: #000;
    font-weight: 500;
    margin: 0;
}
.notification-body .notification-block .content {
    font-size: 12px;
    margin: 0px;
}

ul.sidebar-menu {
    list-style: none;
    padding: 10px;
    margin: 0;
}
.sidebar-menu .sidebar-menu__item:not(.has-dropdown) {
    margin: 12px 0px 8px;
}
.sidebar-menu .sidebar-menu__item {
    position: relative;
    margin-block-end: 6px;
}
.sidebar-menu .sidebar-menu__item.has-dropdown::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    transition: all 0.3s ease-in-out;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    transform: rotate(45deg);
    top: 13px;
    right: 12px;
}
.sidebar-menu .sidebar-menu__item.active::before {
    transform: rotate(135deg);
    border-color: #fff;
}
.sidebar-menu .sidebar-submenu a,
.sidebar-menu .sidebar-submenu .has-dropdown {
    text-decoration: none;
    font-size: 14px;
    color: var(--bg3);
    transition: all 0.3s ease-in-out;
}
.sidebar-menu .sidebar-submenu a:hover {
    color: var(--primary-light);
}
.sidebar-menu-wrapper {
    height: calc(100vh - 80px);
}
.sidebar-menu__link {
    text-decoration: none;
}

.sidebar-menu__link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    font-size: 15px;
    padding: 5px 5px;
    padding-right: 24px;
    background: transparent;
    border-radius: 10px;
    cursor: pointer;
}
.sidebar-menu__link .icon svg {
    width: 18px;
    height: 18px;
    object-fit: contain;
}
.sidebar-menu__item.active .sidebar-menu__link .icon svg {
    filter: invert(1);
}
.sidebar-menu__item.active .sidebar-menu__link {
    background: var(--primary-light);
    border: 1px solid var(--glass-border);
}
.sidebar-menu__item.active .text {
    color: #fff;
}
.sidebar-submenu {
    list-style: none;
    margin-inline-start: 12px;
    padding: 0;
    margin-bottom: 12px;
    margin-top: 5px;
    display: none;
}
.sidebar-menu__item.active .sidebar-submenu {
    display: block;
}
.sidebar-menu .sidebar-submenu li {
    position: relative;
    padding: 5px 0px;
    padding-left: 18px;
    line-height: normal;
    transition: all 0.3s ease-in-out;   
}
.sidebar-menu .sidebar-submenu li::before {
    content: "→";
    position: absolute;
    top: 8px;
    left: -4px;
    font-size: 12px;
    transition: all 0.3s ease-in-out;
}
.sidebar-menu .sidebar-submenu li:hover:before {
    left: 2px;
}
.sidebar-menu .sidebar-submenu li .sub-menu {
    margin-top: 4px;
    list-style: none;
    padding: 0;
}
.sidebar-menu .sidebar-submenu li .sub-menu li {
    padding-top: 6px;
    padding-bottom: 6px;
}
.sidebar-menu .sidebar-submenu li .sub-menu li a {
    font-size: 13px;
}

.main-content-inner {
    display: flex;
    flex-direction: column;
    padding: 28px;
    min-height: calc(100vh - 200px);
}
.suggestions-box {
    position: absolute;
    top: 45px;
    width: 100%;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    z-index: 999;
}
.suggestions-box div {
    padding: 10px;
    cursor: pointer;
}
.suggestions-box div:hover {
    background: #f1f1f1;
}

.starting-box {
    position: relative;
    background-color: #ffffff;
    border-radius: 12px;
    overflow: hidden;
}
.starting-box__content {
    position: relative;
    padding: clamp(1.5rem,-1.086rem + 5.388vw,3.625rem) clamp(1.25rem,-3.621rem + 6vw,2.75rem)!important;
    background: var(--primary-light);
}
.starting-box__content .pattern {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: initial;
    left: 0;
    top: 0;
    position: absolute;
}
button {
    border: 0;
    background-color: transparent;
}

.home-body-cart {
    padding: 50px;
}
.front_Column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
    border-radius: 10px;
    border: 2px solid var(--primary-light);
    transition: all 0.5s ease-in-out;
}
.front_Column:hover {
    border-color: var(--bg);
    background-color: #f7f7f7;
}
.front_Column .front_Column-img {
    position: relative;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 2px solid var(--primary-light);
    transition: all 0.5s ease-in-out;
    z-index: 4;
    overflow: hidden;
}
.front_Column .front_Column-img svg {
    width: 80px;
    height: 80px;
    object-fit: contain;
    transition: all 0.5s ease-in-out;
}
.front_Column:hover .front_Column-img svg {
    animation: zoom-in-zoom-out 0.8s ease-out infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.04, 1.04);
  }
  100% {
    transform: scale(1, 1);
  }
}

.front_Column .front_Column-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 12px;
}
.front_Column .front_Column-info .front_Column-title {
    text-decoration: none;
    font-size: 28px;
    color: var(--primary);
    font-weight: 800;
    margin-bottom: 10px;
    margin: 0;
}
.front_Column .front_Column-info .front_Column-des {
    font-size: 14px;
    color: var(--text-muted);
}
.front_Column .front_Column-info .btn {
    font-size: 16px;
}


@media(max-width: 1199px) {
    .side-overlay.show, .sidebar-close-btn {
        display: block;
    }
    .sidebar {
        display: none;
    }
    .sidebar.active {
        display: block;
        background-color: #fff;
        z-index: 1024;
    }
    .dashboard-main-wrapper {
        margin-left: 0;
    }
    .search-bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: #f7f7f7;
        padding: 20px;
        z-index: 1;
        border-bottom: 1px solid #d71b46;
        transform: translateY(-100%);
        transition: all 0.5s ease-in-out;
    }
    .search-btn {
        padding: 5px 10px;
    }
    .search-bar .form-control {
        font-size: 14px;
        padding: 0.525rem .75rem;
        text-overflow: ellipsis;
    }
    .search-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100dvh;
        background: #00000070;
        cursor: pointer;
        transform: translateY(-100%);
        transition: all 0.2s ease-in-out;
    }

}

@media(max-width: 575px) {
    .notification .btn {
        font-size: 0px;
        height: 100%;
    }
}

